{
    "env": {
      "production": {
        "plugins": ["react-remove-prop-types"]
      }
    },
    "presets": [
        ["@babel/env"],
        ["@babel/preset-react"]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
