# Helps define and maintain consistent coding styles between different editors and IDEs.
root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
